n8n-workflows/gtg-enhanced-itinerary-groq.json
{
  "name": "GTG — Enhanced Itinerary with Weather + Fixture Context (Groq)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "golf-trip-planner",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gtg-golf-trip-planner"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst city = body.city;\nconst country = body.country;\nconst venue = body.venue;\nconst match = body.match;\nconst estValue = body.estValue || '';\nconst flightEstimate = body.flightEstimate || '';\nconst courses = (body.selectedCourses || []).join(' and ');\nconst weather = body.weather;\n\nlet weatherLine = '';\nif (weather) {\n  weatherLine = `Current conditions in ${city}: ${weather.temperature}°C, ${weather.condition}. ` +\n    `Today's high ${weather.high}°C, low ${weather.low}°C. ` +\n    `Wind ${weather.windspeed} km/h. Rain chance ${weather.rainChance}%.`;\n}\n\nconst prompt = `You are a luxury golf travel writer for Golf Travel Group (GTG), crafting bespoke World Cup 2026 trip itineraries for high-net-worth clients.\n\nTrip details:\n- Destination: ${city}, ${country}\n- World Cup fixture: ${match}\n- Stadium: ${venue}\n- Golf courses selected: ${courses}\n${estValue ? `- Estimated trip value: ${estValue} per person` : ''}\n${flightEstimate ? `- Flights from UK: ${flightEstimate} return economy` : ''}\n${weatherLine ? `\\nWeather context:\\n${weatherLine}` : ''}\n\nWrite a 3-day luxury golf itinerary in the following EXACT JSON format. Do not include any text outside the JSON.\n\nJSON format:\n{\n  \"city\": \"${city}\",\n  \"country\": \"${country}\",\n  \"match\": \"${match}\",\n  \"venue\": \"${venue}\",\n  \"estValue\": \"${estValue}\",\n  \"days\": [\n    { \"title\": \"Day 1 title\", \"text\": \"Day 1 description (2-3 sentences, warm and specific, mention the course by name and include a weather detail if relevant)\" },\n    { \"title\": \"Day 2 title\", \"text\": \"Day 2 description — this is match day, centre the experience on the fixture at ${venue}\" },\n    { \"title\": \"Day 3 title\", \"text\": \"Day 3 description — farewell round, a relaxed close to the trip\" }\n  ]\n}\n\nTone: editorial luxury travel, warm but precise. Never say 'vibrant' or 'world-class'. Write as if the client is already on the trip.`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Build Groq Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "chat",
        "operation": "complete",
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1200
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Groq",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content || $input.first().json.text || '';\n\nlet parsed;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : null;\n} catch (e) {\n  parsed = null;\n}\n\nif (!parsed) {\n  return [{ json: { error: true, message: 'Could not parse Groq response', raw } }];\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Parse JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Build Groq Prompt", "type": "main", "index": 0 }]]
    },
    "Build Groq Prompt": {
      "main": [[{ "node": "Groq", "type": "main", "index": 0 }]]
    },
    "Groq": {
      "main": [[{ "node": "Parse JSON Response", "type": "main", "index": 0 }]]
    },
    "Parse JSON Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
