n8n-workflows/gtg-airtable-lead-logger.json
{
  "name": "GTG — Log Itinerary to Airtable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log-itinerary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gtg-log-itinerary"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "GTG Itineraries",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "City": "={{ $json.body.city }}",
            "Country": "={{ $json.body.country }}",
            "Match": "={{ $json.body.match }}",
            "Venue": "={{ $json.body.venue }}",
            "Courses": "={{ $json.body.courses }}",
            "Est. Value": "={{ $json.body.estValue }}",
            "Timestamp": "={{ $json.body.timestamp }}",
            "Source": "={{ $json.body.source }}"
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "REPLACE_WITH_YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Airtable", "type": "main", "index": 0 }]]
    },
    "Airtable": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
